commons/src/main/resources/META-INF/xsd/Schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="www.servicemix.edu/schedule/data"
	xmlns="www.servicemix.edu/schedule/data"
	elementFormDefault="qualified">

	<xs:element name="GetHashesResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BaseResponse">
					<xs:sequence>
						<xs:element name="EventHashes" type="EventHashes" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="EventHashes">
		<xs:sequence>
			<xs:element name="EventId" type="xs:string" />
			<xs:element name="HashCount" type="xs:integer" />
			<xs:element name="ArrayOfHashes" type="ArrayOfHashes" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ArrayOfHashes">
		<xs:sequence>
			<xs:element name="Hash" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="GetEventsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" type="xs:string" minOccurs="1" />
				<xs:element name="from" type="xs:dateTime" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ScheduleResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BaseResponse">
					<xs:sequence>
						<xs:element name="ArrayOfEvents" type="ArrayOfEvents" minOccurs="0" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>	
	</xs:element>
	
	<xs:complexType name="BaseResponse">
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0" />
			<xs:element name="status" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="ArrayOfEvents">
		<xs:sequence>
			<xs:element name="Event" type="Event" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>	
	
    <xs:complexType name="Event">
		<xs:sequence>
			<xs:element name="user" type="xs:string" minOccurs="1" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="start" type="xs:dateTime" minOccurs="1" />
			<xs:element name="duration" type="xs:duration" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="type" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Офис" />
						<xs:enumeration value="Скайп" />
						<xs:enumeration value="Звонок" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>